<html>
  <head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
  </head>
  <body>

    <div id="banner">
        <h1> Shopping Cart </h1>
    </div>

    {% for item in items %}
    <div class="row">
      <div class="col section">
        <p> {{ item.name}} </p>
      </div>
      <div class="col section">
        <p> {{ item.description }} </p>
      </div>
      <div class="col section">
        <p> {{ item.price }} </p>
      </div>
      <div class="col section">
        <p> {{ item.seller}} </p>
      </div>
      <div class="col section">
        <p> {{ item.quantity}} </p>
      </div>
      <div class="col section">
        <p> {{ item.total_price}} </p>
      </div>
      <div class="col section">
          <form action="{{ url_for('remove_from_cart', item_id=item.item_id) }}" method=post>
              <p> <input type="submit" value="Remove"> </p>
          </form>
      </div>
    </div>
    {% else %}
    <p> No results! Maybe try another search! </p>
    {% endfor %}

  </body>
</html>
