<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
  </head>

  <body>
    <div id="banner">
      <h1> Welcome to the Generic Shopping Site! </h1>
      <p> We specialize in bringing you a generic shopping experience! </p>
    </div>

    <div class="row" id="account_handler">
      <div class="col section">
        <div id="create_account">
          <form action="" method="post">
            <div class="row">
              <div class="col">
                First Name:
              </div>
              <div class="col">
                <input type="text" placeholder="First Name" name="first_name" value="{{ request.form.first_name }}">
              </div>
            </div>
            <div class="row">
              <div class="col">
                Last Name:
              </div>
              <div class="col">
                <input type="text" placeholder="Last Name" name="last_name" value="{{ request.form.last_name }}">
              </div>
            </div>
            <div class="row">
              <div class="col">
                Email Address:
              </div>
              <div class="col">
                <input type="text" placeholder="Email Address" name="email" value="{{ request.form.email }}">
              </div>
            </div>
            <div class="row">
              <div class="col">
                Password:
              </div>
              <div class="col">
                <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
              </div>
            </div>
            <div class="button_holder">
              <input type="submit" name="create_account" value="Create Account">
            </div>
          </form>
        </div>
      </div>

      <div class="col section">
        <div id="create_account">
          <form action="" method="post">
            <div class="row">
              <div class="col">
                Email Address:
              </div>
              <div class="col">
                <input type="text" placeholder="Email Address" name="email2" value="{{ request.form.email2 }}">
              </div>
            </div>
            <div class="row">
              <div class="col">
                Password:
              </div>
              <div class="col">
                <input type="password" placeholder="Password" name="password2" value="{{ request.form.password2 }}">
              </div>
            </div>
            <div class="button_holder">
              <input type="submit" name="log_in" value="Log In">
            </div>
            <div style="text-align: center">
              {% if error %}
                <p class=error><strong>Error:</strong> {{ error }}
              {% endif %}
            </div>
          </form>
        </div>
      </div>
    </div>

    <img src="{{ url_for('static', filename='generic_foods.jpg') }}" style="margin:auto; display:block; height:300px;"/>

  </body>
</html>
