<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% include 'navbar.html' %}
        <!-- Begin here -->
        <div class="container">
            <div class="jumbotron">
                <h1>Generic Shopping Site</h1>
                <h3>Welcome to the most generic shopping experience we could muster</h3>
            </div>
            <div class="page-header text-center">
                <h2>Featured Items</h2>
            </div>
            <div class="row">
                {% for item in items %}
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3><a href="{{ url_for('item_page', item_id=item.item_id) }}">{{ item.name }}</a></h3></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6"><p>{{ item.description }}</p></div>
                                <div class="col-md-3"><p>Price: {{ item.price }}</p></div>
                                <div class="col-md-3"><p>Quanity: {{ item.quantity }}</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>