<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="row">
        <div class="container" id="root">
          <div class="page-header" style="text-align: center;">
            <h2>{{ item.name }}</h2>
          </div>
          <div class="row">
            <div class="col-md-6">
              <img src="/static/{{filename}}" onerror="this.src='/static/miss_img'" alt="No image uploaded for the selected item, sorry." class='img-responsive'style="max-width:100%; height:300px;margin-left:auto;margin-right:auto;">
            </div>
            <div class="col-md-6" style="text-align: left;">
              <p>Description: {{ item.description }}</p>
              <p>Price: ${{ item.price }}</p>
              <p>Quantity: {{ item.quantity }}</p>
              <p>Category: {{ item.category }}</p>
              <p>Vendor: {{ item.seller }}</p>
              <form method="post">
              {% if item.quantity != 0 %}
                <button type="submit" name="add_to_cart" class="btn btn-primary">Add to Cart</button>
              {% else %}
              <button style="opacity: 0.65; cursor: not-allowed;">Sold Out!</button>
              {% endif %}
                      <button type="submit" name="message_vendor" class="btn btn-primary" values="{{request.form.vendor_id}}">Message Vendor</button>
              </form>
            </div>
          </div>
          <div class="page-header" style="text-align:center;">
            <h3>Reviews</h3>
          </div>
          {% for rating in ratings %}
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><h4>{{ rating.first_name }} {{ rating.last_name }} gives this a {{ rating.rating }} out of 5</h4></div>
              <div class="panel-body">{{ rating.description }}</div>
            </div>
          </div>
          {% else %}
          <h4>No reviews, be the first!</h4>
          {% endfor %}
        </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
