<html>
  <head>
    <title>Item Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
  </head>
  <body>

    <div id="banner">
        <h1> {{ item.name }} </h1>
    </div>

    <div class="row">
      <div class="col section">
        <p> {{ item.description }} </p>
      </div>
      <div class="col section">
        <p> {{ item.price }} </p>
      </div>
      <div class="col section">
        <p> {{ item.quantity }} </p>
      </div>
      <div class="col section">
        <p> {{ item.category }} </p>
      </div>
      <div class="col section">
        <p> {{ item.seller }} </p>
      </div>
    </div>

    <form action="" method="post">
      <div class="button_holder">
        <input type="submit" name="add_to_cart" value="Add To Cart">
      </div>
    </form>

    <h1> Reviews:  </h1>

    {% for rating in ratings %}
    <div class="row">
      <div class="col section">
        <option value="{{ rating.rating }}">{{ rating.rating }} / 5</option>
      </div>
      <div class="col section">
        <option value="{{ rating.description }}">{{ rating.description }}</option>
      </div>
      <div class="col section">
          <option value="{{ rating.first_name }}">{{ rating.first_name }} {{rating.last_name }}</option>
      </div>
    </div>
    {% endfor %}
  </body>
</html>
