<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="https://chickenonaraft.com/" class="navbar-brand">Chicken on a Raft</a>
    </div>
    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/all">All Items</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if logged_in %}
            <li><a href="/sell_item">Sell</a></li>
            <li><a href="/inventory">Your Inventory</a></li>
            <li><a href="/cart">{{ first_name }}'s Cart</a></li>
            <li><a href="/profile">
                {% if logged_in %}
                {{ first_name }} {{ last_name }}
                {% else %}
                Profile
                {% endif %}
            </a></li>
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/login">Login / Create Account</a></li>
            {% endif %}
        </ul>
        <div class="col-sm-3 col-md-3 pull-right">
                <form class="navbar-form" role="search" action="{{ url_for('search') }}" method="post">
                <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="search_input" value="{{request.form.search_input}}">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>
