<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <div class="page-header">
                <h1>{{ first_name }} {{ last_name }}'s Profile</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="page-header"><h2>Your Orders</h2></div>
                    {% for purchase in purchases %}
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>{{ purchase.item }}</h4></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6"><p>Quantity: {{ purchase.quantity }}</p></div>
                                <div class="col-md-6"><p>Price Per Unit: {{ purchase.price }}</p></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><p>Date: {{ purchase.date }}</p></div>
                                <div class="col-md-6"><p>Seller: {{ purchase.seller }}</p></div>
                            </div>
                            <div style="align-items:center; margin: 0 auto;">
                                <form action="{{ url_for('review', item_id=purchase.item_id) }}">
                                    <button type="submit" name="add_to_cart" class="btn btn-primary"> Leave a review! </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <div class="page-header"><h2>Your Reviews</h2></div>
                    {% for review in reviews %}
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3>You gave <a href="/item/{{ review.item_id }}">{{ review.item_name }}</a> a {{ review.rating }} out of 5.</h3></div>
                        <div class="panel-body">{{ review.description }}</div>
                    </div>
                    {% endfor %}
            </div>
        </div>        

        <h2> Messages: </h2>
        {% for id, message, sender in messages %}
        <div class="row">
          <div class="col-md-6">
            {{ message }}
          </div>
          <div class="col-md-3">
            From: {{ sender }}
          </div>
          <div class="col-md-3">
            <form method=post>
              <input type="hidden" name="id" value="{{id}}" />
              <input type="submit" name="delete" value="Delete">
            </form>
          </div>
        </div>
        {% endfor %}
                         


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
